<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Capsule</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>
<body>
    {{ if .capsule.PaymentId }}
        {{ . }}
    {{else}}
        sem tempo
    {{end}}
    {{ if .capsule.IsOpen}}
    <div class="mt-10 space-y-3 container mx-auto w-full space-y-7">
        <div class="flex justify-between items-center border-1 border-gray-200 shadow-sm p-5 rounded-lg">
            <div class="flex flex-col">
                <span class="text-3xl font-bold"> {{ .capsule.Name }} </span>
                <span> Abre em: {{ .capsule.DateToOpen.Format "Jan, 02 2006" }}</span>
            </div>
            <a href="/capsules/{{ .Id }}/export" class="px-3 py-2 focus:bg-violet-600 h-10 font-bold bg-violet-500 hover:bg-violet-400 text-white rounded-sm"> Exportar </a>
        </div>
        <div class="flex flex-col border-1 border-gray-200 shadow-sm p-5 rounded-lg space-y-2">
            <span class="text-2xl font-bold ">Resumo por IA</span>
            <p class="text-lg">{{ .capsule.Description }}</p>
        </div>
        <div class="space-y-4">
            {{ range .capsule.Messages }}
            <div class="flex flex-col border-1 border-gray-200 shadow-sm p-5 rounded-lg space-y-2">
                <p>{{ . }}</p>
            </div>
            {{ end }}
        </div>
    </div>
    {{ else }}
    <div class="mt-10 space-y-3 container mx-auto w-full space-y-7">
        <div class="flex justify-between items-center border-1 border-gray-200 shadow-sm p-5 rounded-lg">
            <div class="flex flex-col">
                <span class="text-3xl font-bold"> {{ .capsule.Name }} </span>
                <span> Abre em: {{ .capsule.DateToOpen.Format "Jan, 02 2006" }}</span>
            </div>
        </div>
        <div class="flex flex-col border-1 border-gray-200 shadow-sm p-5 rounded-lg space-y-2">
            <span class="text-2xl font-bold ">Opss...</span>
            <p class="text-lg">Essa capsula ainda está fechada até {{ .capsule.DateToOpen.Format "Jan, 02, 2006" }}</p>
        </div>
    </div>
    {{ end }}
</body>
</html>